{%- assign _author = include.author -%}

<div class="author-links">
  <ul class="menu menu--nowrap menu--inline">

    {%- if _author.url -%}
      <link itemprop="url" href="{{ _author.url }}">
    {%- endif -%}

    {%- if _author.type == 'organization' -%}
      {%- include snippets/get-locale-string.html key='EMAIL_US' -%}
      {%- assign _locale_string_email = __return -%}
      {%- include snippets/get-locale-string.html key='FOLLOW_US' -%}
      {%- assign _locale_string_follow = __return -%}
    {%- else -%}
      {%- include snippets/get-locale-string.html key='EMAIL_ME' -%}
      {%- assign _locale_string_email = __return -%}
      {%- include snippets/get-locale-string.html key='FOLLOW_ME' -%}
      {%- assign _locale_string_follow = __return -%}
    {%- endif -%}

    {%- include snippets/get-locale-string.html key='EMAIL_ME' -%}

    <li title="{{ _locale_string_email }}">
    <a class="button button--circle" itemprop="email" href="mailto:{{ _author.email }}" target="_blank">
      <i class="fas fa-envelope"></i>
    </a>

    <li title="{{ _locale_string_follow | replace: '[NAME]', 'Github' }}">
      <a class="button button--circle" itemprop="sameAs" href="https://github.com/{{ _author.github }}" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>

    <li title="rss feed">
      <a class="button button--circle" itemprop="rss" href="/feed.xml">
        <i class="fas fa-solid fa-rss"></i>
      </a>
    </li>
  </ul>
</div>
