@mixin text-light {
  color: var(--text-color-theme-light);
  h1, h2, h3 {
    color: var(--text-color-theme-light-d);
  }
  h4, h5 {
    color: var(--text-color-theme-light);
  }
  h6 {
    color: var(--text-color-theme-light)-l;
  }
  a:not(.button) {
    @include link-colors(var(--text-color-theme-light), var(--main-color-1));
  }
}
@mixin text-dark {
  color: var(--text-color-theme-dark);
  h1, h2, h3 {
    color: var(--text-color-theme-dark-d);
  }
  h4, h5 {
    color: var(--text-color-theme-dark);
  }
  h6 {
    color: var(--text-color-theme-dark-l);
  }
  a:not(.button) {
    @include link-colors(var(--text-color-theme-dark), var(--main-color-1));
  }
}

.text--light {
  @include text-light();
}
.text--dark {
  @include text-dark();
}
