@import "./highlight/tomorrow/night";

// main colors


:root {

  --main-color-1: #FE7F9B;
  --text-color-1: rgba(255, 255, 255, 0.8);

  // i don't know where this is used
  --main-color-2: #ff006a;
  --text-color-2: rgba(255, 255, 255, .8);

  // header and footer colors
  --main-color-3: #FFA6AF;
  --text-color-3: #FEEEEC;
  --header-link-color: #feeeec;

  --main-color-theme-light: rgba(0, 0, 0, .8);
  --main-color-theme-dark: rgba(255, 255, 255, .8);

  // page background
  --background-color: #feeeec;

  // text colors
  --text-color-theme-light-d: #000;
  --text-color-theme-light: #222;
  --text-color-theme-light-l: #888;

  --text-color-theme-dark: rgba(44, 44, 44, 0.7);
  --text-color-theme-dark-d: var(--text-color-theme-dark);
  --text-color-theme-dark-l: var(--text-color-theme-dark);

  --text-color-d: var(--text-color-theme-dark-d);
  --text-color: var(--text-color-theme-dark);
  --text-color-l: var(--text-color-theme-dark-l);

  --text-background-color: rgba(255, 255, 255, .05);

  // header and footer colors
  --header-text-color: var(--text-color-3);
  --header-background: var(--main-color-3);

  --footer-text-color: var(--text-color-3);
  --footer-background: var(--main-color-3);

  // border and shadow colors
  --border-color: rgba(44, 44, 44, 0.44);
  --border-color-l: var(--border-color);
  --decorate-color: rgba(255, 255, 255, .1);
  --mask-color: rgba(0, 0, 0, .9);
  --select-color: rgba(254, 127, 155, 0.43);

  //highlight
  --highlight-background   : #fcfcfc;
  --highlight-foreground   : #4d4d4c;
  --highlight-comment      : #8e908c;
  --highlight-red          : #c82829;
  --highlight-orange       : #f5871f;
  --highlight-yellow       : #f5871f;
  --highlight-green        : #718c00;
  --highlight-aqua         : #4271ae;
  --highlight-blue         : #4271ae;
  --highlight-purple       : #ff6f90;
}

@media (prefers-color-scheme: dark) {
  :root {

    --main-color-1: #f7bfff;
    --text-color-1: rgba(255, 255, 255, 0.8);

    --main-color-2: #ff006a;
    --text-color-2: rgba(255, 255, 255, .8);

    // header-footer colors
    --main-color-3: #222;
    --text-color-3: rgba(255, 255, 255, .8);
    --header-link-color: var(--main-color-1);

    --main-color-theme-light: rgba(0, 0, 0, .8);
    --main-color-theme-dark: rgba(255, 255, 255, .8);

    // page background
    --background-color: #1c1c1c;

    // text colors
    --text-color-theme-light-d: #000;
    --text-color-theme-light: #222;
    --text-color-theme-light-l: #888;

    --text-color-theme-dark-d: rgba(255, 255, 255, .8);
    --text-color-theme-dark: rgba(255, 255, 255, .7);
    --text-color-theme-dark-l: rgba(255, 255, 255, .5);

    --text-color-d: var(--text-color-theme-dark-d);
    --text-color: var(--text-color-theme-dark);
    --text-color-l: var(--text-color-theme-dark-l);

    --text-background-color: rgba(255, 255, 255, .05);

    // header and footer colors
    --header-text-color: var(--text-color-3);
    --header-background: var(--main-color-3);

    --footer-text-color: var(--text-color-3);
    --footer-background: var(--main-color-3);

    // border and shadow colors
    --border-color: rgba(255, 255, 255, 0.38);
    --border-color-l: var(--border-color);
    --decorate-color: rgba(255, 255, 255, .1);
    --mask-color: rgba(0, 0, 0, .9);
    --select-color: rgba(247, 191, 255, 0.8);

    // highlight
    --highlight-background   : #1d1f21;
    --highlight-foreground   : #c5c8c6;
    --highlight-comment      : #969896;
    --highlight-red          : #c66;
    --highlight-orange       : #de935f;
    --highlight-yellow       : #f0c674;
    --highlight-green        : #b5bd68;
    --highlight-aqua         : #ffe7ad;
    --highlight-blue         : #ffe7ad;
    --highlight-purple       : #f7bfff;
  }
}

// function colors
$green: #5baa34;
$blue: #1c7cd4;
$yellow: #c9771f;
$red: #da3d45;
$text-color-function: rgba(#fff, .8);

// logo colors
$mail-color: #0072c5;
$facebook-color: #4267b2;
$twitter-color: #1da1f2;
$weibo-color: #e6162d;
$google-plus-color: #ea4335;
$telegram-color: #32afed;
$medium-color: #000;
$zhihu-color: #0084ff;
$douban-color: #42bd56;
$linkedin-color: #1074af;
$github-color: #000;
$npm-color: #fff;


video {
  width:100%;
}