.site-tags {
  .tag-button {
    @include clickable(var(--text-color-3), var(--main-color-3), default, default, var(--text-color-2),var(--main-color-2), var(--text-color-2),var(--main-color-2));
    & > .tag-button__count {
      display: inline-block;
      margin-left: map-get($spacers, 1);
      font-size: map-get($base, font-size-xs);
      line-height: 1;
      vertical-align: top;
    }
  }
  .tag-button-1 {
    @include clickable(var(--text-color-1), rgba(var(--main-color-1), .4), default, default, var(--text-color-2),var(--main-color-2), var(--text-color-2),var(--main-color-2));
  }
  .tag-button-2 {
    @include clickable(var(--text-color-1), rgba(var(--main-color-1), .55), default, default, var(--text-color-2),var(--main-color-2), var(--text-color-2),var(--main-color-2));
  }
  .tag-button-3 {
    @include clickable(var(--text-color-1), rgba(var(--main-color-1), .7), default, default, var(--text-color-2),var(--main-color-2), var(--text-color-2),var(--main-color-2));
  }
  .tag-button-4 {
    @include clickable(var(--text-color-1), rgba(var(--main-color-1), .9), default, default, var(--text-color-2),var(--main-color-2), var(--text-color-2),var(--main-color-2));
  }
}
